table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid #ddd; /* Add border around the table */
  
  }
  
  th, td {
    padding: 20px;
    text-align: left;
    border: 1px solid #ddd; /* Border around each cell */
  }
  
.editButton {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
} 

.deleteButton {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
} 

.addButton {
  padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px; 
    vertical-align: middle;
} 
  
.button-container {
  text-align: center; /* Center aligns the buttons horizontally */
  margin-top: 10px; /* Example margin top for space */
}